/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
.services, .offer, .momentum, .stylist, .lookbook {
  padding: 3% 30%;
}

a {
  padding: 15px 35px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5%;
  font-size: .8em;
}

header {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  padding-right: 10%;
}

ul {
  display: flex;
}

main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
  padding-top: 3%;
  background-color: #C1BBBE;
}

.firstVisit {
  background-color: black;
  height: 300px;
  width: 180px;
  color: white;
  padding: 10px;
  margin-top: 20%;
}

.firstVisit > h3 {
  font-size: .6em;
}

.firstVisit > h2 {
  font-size: .8em;
  padding-bottom: 10%
}

.highlight {
  font-size: 1.7em;
  font-weight: 700;
}

.firstVisit a, header a {
  background-color: white;
  color: black
}
.mainText {
  margin-left: 10%;
  color: white;
  padding-right: 5%;
}

h1 {
  font-size: 5em;
}


main img {
  width: 60%;
}
.services {
  display: flex;
  justify-content: space-around;
}

.momentum {
  display: flex;
  background-color: #F3F4F6;
}

.momentum > img {
  width: 50%;
}
.stylist {
  display: flex;
  justify-content: space-between;
}
.stylist img {
  width: 90%;
  height: 350px;
}

.stylist div {
  width: 130px;
  height: 80px;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  left: 35px;
  top: -50px;
  border-radius: 5%;
}

div h4 {
  font-size: .8em;
  padding-top: 10%;
}

div p {
  font-size: .7em ;
}
.offer {
  display: flex;
  background-color: #F0F0F1;
}

.offerText {
  padding-right: 10%;
}

.offerText h2 {
  font-weight: 300;
  font: .8em;

}

.offer > img {
  width: 350px;
}

.lookbook {
  height: 300px;
}

.lookbookPics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;
}

.lookbook > h2 {
  text-align: center;
}
.lookbook img {
  width: 250px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
