/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2 {
  text-align: center;
}

.container, form {
  width: 60%;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
