/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header nav > * {
  float: left;
  width: 10%;
  margin: 0 5%
}

header nav li {
  float: left;
  width: 33.3333%;
  list-style: none;
}

main section {
  float: left;
  width: 50%;
  height: 400px;
  margin-top: 200px;
}

section  a {
  border-radius: 5px;
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
